{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/styles/styles.css' %}">
    <title>Sistema de Gestão</title>
</head>
<body>
    <div class="page-content">
        <div class="topo">
            <h1>Livros</h1>
        </div>
        <div class="content">
            <div class="left">
            </div>
            <div class="mid">
                <section class="container col-8">
                    <form action="{% url 'editar' livro_id %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            {% for field in form.visible_fields %}
                                <div class="col-12 col-lg-12" style="margin-bottom: 10px;">
                                <label for="{{ field.id_for_label }}" style="color:#D9D9D9; margin-bottom: 5px;">{{field.label}}</label>
                                {{ field }}
                                
                                </div> 
                            {% endfor %}
                        </div>
                        <div>
                            <button type="submit" class="btn btn-success col-12" style="padding: top 5px;">Editar</button>
                        </div>
                    </form>
                </section>
            </div>
            <div class="right"></div>
        </div>
    </div>           
</body>
</html>